@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
.body{
	font-family: 'Gothic A1', sans-serif;
	font-size:16px;
}
p{
	color:#6c6c6f;
	font-size:1em;
}
h1,h2,h3,h4,h5,h6
{
	color:#323233;text-transform:uppercase;
}
.navbar-brand  span{
	color: #e1393e;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.navbar-brand {
	color: #fff;
	font-size:25px;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 120%;
	font-weight: 500;
	letter-spacing: 1px;
	color: #fff;
	font-family: 'Gothic A1', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover{color:#e1393e;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #e1393e;
}
.dropdown-item:hover{background-color:#e1393e;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
	-moz-transition: padding-top .3s,padding-bottom .3s;
	transition: padding-top .3s,padding-bottom .3s;
	border: none;
}

.shrink {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #212529;
}
.banner{
	background-image:url('http://www.hd-freewallpapers.com/latest-wallpapers/abstract-website-backgrounds.jpg');
	text-align: center;
	color: #fff;

	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.banner-text{
	padding:200px 0 150px 0;
}
.banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
	font-weight: 700;
	line-height: 100px;
	margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	font-family: 'Libre Baskerville', serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		border-top:3px solid #e1393e;
		color:#fff;
		z-index:1;
		margin-top:5px;
	}
	.navbar-nav .nav-item .nav-link{
		padding: 0.7em 1em!important;
		font-size: 100%;
		font-weight: 500;
	}
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-heading{
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.banner-sub-heading{
		font-size: 10px;
		font-weight: 200;
		line-height: 10px;
		margin-bottom: 40px;
	}

}

@media (max-width:768px){
	.banner-text{
		padding:150px 0 150px 0;
	}
	.banner-sub-heading{
		font-size: 23px;
		font-weight: 200;
		line-height: 23px;
		margin-bottom: 40px;
	}
}
.owl-stage-outer{
	height: 100%;
}
.owl-theme .owl-dots .owl-dot span{
	border-radius: 0px;
	width: 25px;
	height: 5px;
}
